/*
Theme Name: Learning Hub
Theme URI: https://ihub.gww.gov.bc.ca/learninghub
Description: A child theme for Twenty Twenty One for the Learning Hub
Author: Allan Haggett
Author URI: https://allankenneth.com/
Template: twentytwentyone
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/

/* Variables */
:root {
	/* Font Size */
	--global--font-size-base: 1.25rem;
	--global--font-size-xs: 1rem;
	--global--font-size-sm: 1.125rem;
	--global--font-size-md: 1.25rem;
	--global--font-size-lg: 1.5rem;
	--global--font-size-xl: 2.25rem;
	--global--font-size-xxl: 3rem;
	--global--font-size-xxxl: 3.5rem;

	/* --global--spacing-vertical: 0; */
}
.site-header,
.site-main,
.widget-area,
.site-footer {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.site-header {
	padding-top: 0;
	padding-bottom: 0;
}
@media only screen and (min-width: 482px) {

	.site-header {
		padding-bottom: calc(3 * var(--global--spacing-vertical));
	}
}


.menu-button-container #primary-mobile-menu {
	color: #FFF;
	margin-top: .25em;
}
.primary-navigation > .primary-menu-container,
.primary-navigation-open .menu-button-container {
	background-color: #01284f;
}
img,
iframe {
	height: auto;
	max-width: 100%;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
  }
  
  .sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
	white-space: normal;
  }
  
/* I like utility classes after working wtih Bootstrap for so long. Sue me.*/
.my-1 {
	margin: 1em 0;
	margin-bottom: 1em !important;
}
.mt-1 {
	margin-top: 1em !important;
}
.mt-wee {
	margin-top: .5em;
}
.mb-1 {
	margin-bottom: 1em !important;
}

.p-1 {
	padding: 1em;
}
.p-2 {
	padding: 2em;
}
.p-3 {
	padding: 3em;
}
.bg-white {
	background-color: #FFF;
}

#bcgovmast {
	background-color: #003265;
}
#bcgovmast a:focus {
	background-color: transparent !important; 
}
.wordmark {
	color: #FFF;
	display: block;
	font-size: 1.5em;
	padding: .5em 0;
	text-decoration: none;
}
.wordmark span {
	display: inline-block;
	letter-spacing: -.1em;
	margin-left: -8px;
}

.wiw-logo {
	float: right;
	margin: .8em 0;
}
.wiw-logo-mobile {
	display: none;
}
@media only screen and (max-width: 600px) {
	.wiw-logo {
		display: none;
		
	}
	.wiw-logo-mobile {
		display: block;
	}
}

.navbg {
	background-color: #01284f;
	border-top: 2px solid #f8be43;
	padding: 0;
}
.primary-navigation .primary-menu-container > ul {
	flex-direction: row;
	justify-content: flex-end;
}
.primary-navigation .primary-menu-container > ul li a {
	color: #FFF;
}


.site-main > * {
	margin-top: 0;
	margin-bottom: 0;
}
.entry-header, 
.post-thumbnail, 
.entry-content, 
.entry-footer, 
.author-bio {
	margin: 0;
}
.dark-wrap,
#pagetop {
	background-color: #28537d;
	color: #FFF;
	margin-bottom: 0;
	padding: 0;
}
.white-wrap {
	background-color: #FFF;
	color: #333;
	margin-bottom: 1em;
	padding: 2em 0;
}
.wp-block-columns.has-background {
	padding: 0;
}
.wp-block-image.size-large {
	margin-bottom: 0;
}
.post-thumbnail .wp-post-image {
	margin-top: 0;
}

.pagehead {
	padding: 1em 0;
}
.allcourseslink {
	margin: 0 auto !important;
}
.coursehead {
	margin-top: 0 !important;
}
.partner-url {
	font-weight: bold;
	margin-top: 2em;
	text-align: center;
}

.hubgrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.hubgridinner {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.hubcard {
	border-radius: 3px;
	display: flex;
	flex-basis: 50%;
    flex-direction: column;
	margin: 1em;
	width: 50%;
}
.hubfeatimage {
	background-color: #FFF;
	min-height: 120px;
	padding: 2em 0;
	text-align: center;
}
.hubfeatimage img {
	height: 70px;
	width: auto;
}
.flexible {
    flex-grow: 1;
}

.hubtitle {
	text-align: center;
}
.hubtitle,
.hubexcerpt,
.hublink {
	background-color: #FFF;
	padding: 1em;
}
.hubexcerpt, 
.hublink {
	padding-top: 0;
}
.hublink a {
	background-color: #145693;
	border-radius: 3px;
	color: #FFF;
	display: block;
	padding: .5em 2em;
	text-align: center;
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.hubgrid,
	.hubgridinner,
	.hubcard {
		display: block;
		margin: 1em 0;
		padding: 0;
		width: 100%;
	}
}




.searchbox {
	background: #FFF;
	border-radius: .25em;
	margin: 1em 0;
	padding: 1em;
}
.searchbox input {
	font-size: 18px; 
	margin: 0 0 0 0; 
	padding: 1em; 
	width: 100%;
}
.wp-block-search__inside-wrapper {
	border: 0 !important;
}
.wp-block-search__input {
	background: #F2F2F2 !important;
	border: 1px solid #999 !important;
	border-right: 0 !important;
}
.wp-block-search__button {
	background: #145693 !important;
	border: 0 !important;
	color: #FFF !important;
}
.alphabet {
	background: #FFF;
	margin-bottom: .5em;
	padding: .3em 0;
	position: sticky;
	text-align: center;
	
	top: 28px;
}
.alphabet a {
	background: #F1F1F1;
	border-radius: 3px;
	display: inline-block;
	font-size: .6em;
	margin: 0 .15em;
	padding: .25em .5em;
	text-decoration: none;
}

.course {
	margin-bottom: 1em;
}

.coursename a {
	color: #333; 
	display: block;
	font-size: 1.4em;
	text-decoration: none;
}

.coursecats,
.delivery-method {
	font-size: 0.8em;
	margin-bottom: .5em;
}
.coursecats a,
.delivery-method a {
	background-color: #F1F1F1;
	border-radius: 3px;
	text-decoration: none;
}

.courseregister {
	margin: 1em 0 0 0;
}
.registerbutton {
	background: #28537d; 
	color: #F2F2F2; 
	display: block;
	font-size: 1.4rem; 
	padding: .5em 1em; 
	text-align: center; 
	text-decoration: none;
}
.learningpartner,
.learningpartner a {
	color: #28537d;
	font-weight: bold; 
}





#bcgovfoot {
	background-color: #003265; 
	color: #FFF;
}
.site-footer > .site-info,
.site-footer > .site-info a {
	border: 0;
	color: #FFF !important;
}

.widget-area {
	margin-top: 0 !important;
	color: #FFF !important;
}
.widget-area a {
	color: #FFF !important;
}
.widget {
	border-bottom: 2px solid #f8be43;
	padding: 4em 0;
}
.helpingimprove {
	color: #FFF;
	font-size: 3.5em;
	line-height: 1em;
}
.helpingimprove span {
	color: #3496d2
}
.landacknowledge {
	font-size: 1.3em;
}
#custom_html-7 {
	padding-top: 4em;
}
.site-info {
	margin: 3em 0;
}